[DEFAULT]
LoadSymbol=1
ReconnectInterval=20
SocketAcceptPort=9505
LogPath=c:\OrderManager\FixServer\Log
DefaultDest=1
DbServer=RON_SYB_DEV1
DbUser=jloesche
DbPass=Thuels6
#EngineMode=1
#SmartRoute=1
[SESSION]
BeginString=FIX.4.2
SenderCompID=TD
TargetCompID=JOEL
ConnectionType=acceptor
StartTime=00:00:00
EndTime=00:00:00