<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- <add key="dbserver" value="RON_SYB_DEV1" /> -->
    <add key="dbserver" value="LTC_DEV_DS1"/>
    <!-- <add key="dbserver" value="Ltc_UsRom1_1"/> -->
    <add key="dbuser" value="rom_user"/>
		<add key="dbpass" value="resu_mor"/>
		<add key="dbname" value="rom"/>
		<!-- <add key="tposserver" value="sdev-chi-green"/> -->
		<add key="tposserver" value="10.100.101.54"/>
		<add key="tposuser" value="ronx"/>
		<add key="tpospass" value="ronx"/>
		<add key="tposport" value="2917"/>
		<add key="tposinterface" value="RDS"/>
		<add key="elog" value="RDS"/>
		<add key="debug" value="true"/>
		<add key="logpath" value="C:\RDS\Log"/>
		<add key="timeout" value="20"/>
		<add key="tposReconnect" value="06:45:00"/>
		<add key="DebugMode" value="0"/>
		<add key="TPOSConnectionMode" value="1"/>
		<add key="IMMap" value="F:ZQ=FF,F:ER2=ER,F:ZB=US,F:ZN=TY,F:ZF=FV,F:ZQ=FF,F:ZI=S,F:ZT=TU,F:OZB=US_OF"/>
    
    <add key="SpreadMapLocation" value ="C:\Inetpub\cme_codes\cmeInstList.cfg"/>

    <!-- Symbol -->
    <add key="CMEFuturesDef" value ="C:\Inetpub\cme_codes\CMEFuturesDef.xml"/>
    <add key="CMESpreadsDef" value ="C:\Inetpub\cme_codes\CMESpreadsDef.xml"/>
    <add key="CMEOptionsChain" value ="C:\Inetpub\cme_codes\CMEOptionsChain.xml"/>
  
    <add key="UserSecDef" value ="C:\Inetpub\cme_codes\UserSecDef.xml"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- <customErrors defaultRedirect="~/ErrorPage.aspx"/> -->
		<trace enabled="true" pageOutput="true" requestLimit="50"/>
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
				<add name="HttpGet"/>
				<add name="HttpPostLocalhost"/>
				<add name="Documentation"/>
			</protocols>
		</webServices>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation tempDirectory="C:\RDS" debug="true">
			<assemblies>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
