<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Configuration.SRLab" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Test.Configuration.SRLab>
            <setting name="Configlocation" serializeAs="String">
                <value>C:\Smds\config</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>ronin-mc-client-allfeeds.xml</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SMType" serializeAs="String">
                <value>MDRCClientSessionMgr</value>
            </setting>
            <setting name="SMNames" serializeAs="String">
                <value>CTA,NASDAQ,CME,CME-CBOT,CME-MGEX,CME-NYMEX,ICE,OPRA</value>
            </setting>
        </Test.Configuration.SRLab>
    </userSettings>
</configuration>