<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRLabEx.Configuration.SRLab" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SRLabEx.Configuration.SRLab>
            <setting name="Configlocation" serializeAs="String">
                <value>..\SRLabConfig</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>ronin-mc-client-allfeeds.xml</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value>10.103.102.29</value>
            </setting>
            <setting name="SRLABS_LOG_LEVEL" serializeAs="String">
                <value>WARN</value>
            </setting>
            <setting name="SRLABS_MAX_LOG_SIZE" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SMType" serializeAs="String">
                <value>MDRCClientSessionMgr</value>
            </setting>
            <setting name="SMNames" serializeAs="String">
                <value>CTA,NASDAQ,CME,CME-CBOT,CME-MGEX,CME-NYMEX,ICE,OPRA</value>
            </setting>
            <setting name="SRLABS_DELAY_MCJOIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRLABS_LAST_VALUE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SRLABS_FIRE_LEVEL1_ONLY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>5</value>
            </setting>
        </SRLabEx.Configuration.SRLab>
    </userSettings>
</configuration>