<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
    <!-- Log -->
    <add key="logLevel" value="2" />
    <add key="logFilePath" value="C:\RDS\Log" />
    <add key="logFileDuration" value="90" />

    <!-- Tpos -->
    <!-- <add key="TposServer" value="10.100.101.54" /> -->
    <!-- <add key="TposServer" value="sron-chi-tpos04" /> -->
    <add key="TposServer" value="drtp-ltc-bear" />
    <add key="TposUser" value="ronx" />
    <add key="TposPass" value="ronx" />
    <!-- <add key="TposPort" value="2917" /> -->
    <!-- <add key="TposPort" value="3917" /> -->
    <add key="TposPort" value="12917" />
    <add key="TposInterfaces" value="RDS|IM,WOW|POS" />
    <!-- Set Timeout to 0 to disable it -->
    <add key="TposTimeout" value="20000"/>
    <add key="TposReconnect" value="06:45:00"/>
       
    <!-- RomDB -->
    <!-- <add key="RomDBServer" value="LTC_DEV_DS1" /> -->
    <add key="RomDBServer" value="Ltc_UsRom1_1" />
    <add key="RomDBUser" value="rom_user" />
    <add key="RomDBPass" value="resu_mor" />
    <add key="RomDBName" value="rom"/>
    
    <!-- CME Symbol -->
    <add key="CMEFuturesDef" value ="C:\Inetpub\cme_codes\CMEFuturesDef.xml"/>
    <add key="CMESpreadsDef" value ="C:\Inetpub\cme_codes\CMESpreadsDef.xml"/>
    <add key="CMEOptionsChain" value ="C:\Inetpub\cme_codes\CMEOptionsChain.xml"/>

    <!-- CME Symbol -->
    <add key="ICEFuturesDef" value ="C:\Inetpub\ice_codes\ICEFuturesDef.xml"/>
    <add key="ICESpreadsDef" value ="C:\Inetpub\ice_codes\ICESpreadsDef.xml"/>
    <add key="ICEOptionsChain" value ="C:\Inetpub\ice_codes\ICEOptionsChain.xml"/>
    
    <!-- User Symbol -->
    <add key="UserSecDef" value ="C:\Inetpub\user_codes\UserSecDef.xml"/>
    
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation tempDirectory="C:\RDS" debug="true">
			<assemblies>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
