<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRLabMDS.Configuration.Path" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRLabMDS.Configuration.User" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRLabMDS.Configuration.MDS" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRLabMDS.Configuration.EMail" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRLabMDS.Configuration.SRLab" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRLabMDS.SRLab" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SRLabMDS.Configuration.Path>
            <setting name="LogPath" serializeAs="String">
                <value>..\Logs\</value>
            </setting>
            <setting name="CachePath" serializeAs="String">
                <value>..\SubscriptionCache\</value>
            </setting>
        </SRLabMDS.Configuration.Path>
        <SRLabMDS.Configuration.User>
            <setting name="UIUpdateRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LogRetensionDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseLogRetensionLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopTime" serializeAs="String">
                <value>23:55:00</value>
            </setting>
            <setting name="InstanceName" serializeAs="String">
                <value>MDS DEV</value>
            </setting>
            <setting name="LogPerformance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileSizeLimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NotificationDuration" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UseStopTime" serializeAs="String">
                <value>True</value>
            </setting>
        </SRLabMDS.Configuration.User>
        <SRLabMDS.Configuration.MDS>
            <setting name="IP" serializeAs="String">
                <value>WRON-ZCHA</value>
            </setting>
            <setting name="MaxBackLog" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3457</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="RecapLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableTCPLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableMDSLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EchoOnUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientBufferSizeLimit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableClientReload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDataRoll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDataCalculation" serializeAs="String">
                <value>False</value>
            </setting>
        </SRLabMDS.Configuration.MDS>
        <SRLabMDS.Configuration.EMail>
            <setting name="MailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value>zhen.cha@ronin-capital.com</value>
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>MDS Event</value>
            </setting>
            <setting name="MailBody" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>relay.ronin.roncap.com</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value />
            </setting>
        </SRLabMDS.Configuration.EMail>
        <SRLabMDS.Configuration.SRLab>
            <setting name="Configlocation" serializeAs="String">
                <value>..\SRLabConfig\</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>ronin-mc-client-allfeeds.xml</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value>10.103.102.29</value>
            </setting>
            <setting name="FireLevel1Only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastValue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayMCJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>WARN</value>
            </setting>
            <setting name="MaxLogSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SMType" serializeAs="String">
                <value>MDRCClientSessionMgr</value>
            </setting>
            <setting name="SMNames" serializeAs="String">
                <value>CTA,NASDAQ,OPRANBBO</value>
            </setting>
            <setting name="EnableSRLabLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSRLabPerformanceLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BusyWait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscriptionTimeGap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ChangeNotificationRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UseChangeNotificationRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscriptionUseWaitForSymbol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubscribeWithSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineTimeHourOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineTimeMinOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineTimeSecOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CMEExchangeList" serializeAs="String">
                <value>CME,CME-CBOT,CME-MGEX,CME-NYMEX</value>
            </setting>
            <setting name="SubscriptionSourceRange" serializeAs="String">
                <value>CTA,NASDAQ,OPRANBBO</value>
            </setting>
            <setting name="SubscriptionSymbolRange" serializeAs="String">
                <value>ALL</value>
            </setting>
            <setting name="StockSources" serializeAs="String">
                <value>CTA,NASDAQ</value>
            </setting>
            <setting name="FutureSources" serializeAs="String">
                <value>ICE,CME,CME-CBOT,CME-MGEX,CME-NYMEX</value>
            </setting>
            <setting name="OptionSources" serializeAs="String">
                <value>OPRA,OPRANBBO</value>
            </setting>
            <setting name="CTAPrimary" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="NASDAQPrimay" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="ConvertOPRA" serializeAs="String">
                <value>True</value>
            </setting>
        </SRLabMDS.Configuration.SRLab>
        <SRLabMDS.SRLab>
            <setting name="Configlocation" serializeAs="String">
                <value>..\Config\</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value>ronin-mc-client-allfeeds.xml</value>
            </setting>
        </SRLabMDS.SRLab>
    </userSettings>
</configuration>