<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ROC.Configuration.Override" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.RDS" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.SOUND" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.ROC" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.ROM" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.MDS" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.User" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.EMail" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ROC.Configuration.Path" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ROC.Configuration.Override>
            <setting name="ByPassROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ByPassRDS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverrideNBBO" serializeAs="String">
                <value>OPRANBBOTEST</value>
            </setting>
            <setting name="UseOverridNBBO" serializeAs="String">
                <value>False</value>
            </setting>
        </ROC.Configuration.Override>
        <ROC.Configuration.RDS>
            <setting name="WebServiceLocation" serializeAs="String">
                <value>http://localhost/RDS_DEV/RDS.asmx</value>
            </setting>
        </ROC.Configuration.RDS>
        <ROC.Configuration.SOUND>
            <setting name="Open" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="Filled" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="Rejected" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="Canceled" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="FilledAndCanceled" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="PartiallyFilled" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="Replaced" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="EnableOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFilled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableRejected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCanceled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePartiallyFilled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableReplaced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFilledAndCanceled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSpreadPartiallyFilled" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Sounds\default.wav</value>
            </setting>
            <setting name="EnableAutoSpreadPartiallyFilled" serializeAs="String">
                <value>True</value>
            </setting>
        </ROC.Configuration.SOUND>
        <ROC.Configuration.ROC>
            <setting name="ExchangesSupportExtendedMarketOrderType" serializeAs="String">
                <value>ARCA,INET,NYSE,BATS,EDG</value>
            </setting>
            <setting name="ExchangesSupportExtendedLimitOrderType" serializeAs="String">
                <value>ARCA,INET,NYSE,BATS,EDG</value>
            </setting>
            <setting name="UseGroupSubscription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BookDepthLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MemoryFlushInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MemoryFlushLimit" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="EnableAutoFocusPlotList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusWatchList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusOrders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusPositions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusBatchTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusFutureTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusOptionTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusQuickTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusStockTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusTrades" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutoFocusAutoSpreadTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExchangesSupportStopOrderType" serializeAs="String">
                <value>NYSE,GLBX,GLOBEX</value>
            </setting>
            <setting name="ExchangesSupportLimitStopOrderType" serializeAs="String">
                <value>GLBX,GLOBEX</value>
            </setting>
            <setting name="ExchangesSupportPegMktOrderType" serializeAs="String">
                <value>ARCA,INET,BATS,EDG</value>
            </setting>
            <setting name="ExchangesSupportPegPriOrderType" serializeAs="String">
                <value>ARCA,INET,BATS,EDG</value>
            </setting>
            <setting name="ExchangesSupportPegMidOrderType" serializeAs="String">
                <value>INET,BATS,EDG</value>
            </setting>
            <setting name="LargeScreenSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLevel2AsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowQuickTicketAsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExchangesSupportImbalanceOnlyType" serializeAs="String">
                <value>INET</value>
            </setting>
            <setting name="EnableAutoFocusMarketDataBatchTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableQuickTicketAutoCenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickTicketAutoCenterRange" serializeAs="String">
                <value>3</value>
            </setting>
        </ROC.Configuration.ROC>
        <ROC.Configuration.ROM>
            <setting name="IP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8008</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="ClientBufferSizeLimit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HartBeatRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CancelOnDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitForQueueMsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipGTCandGTD" serializeAs="String">
                <value>False</value>
            </setting>
        </ROC.Configuration.ROM>
        <ROC.Configuration.MDS>
            <setting name="BufferSize" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="ClientBufferSizeLimit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HartBeatRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3456</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>localhost,10.40.33.162</value>
            </setting>
            <setting name="PortBackup" serializeAs="String">
                <value>3456</value>
            </setting>
            <setting name="IPBackup" serializeAs="String">
                <value>localhost</value>
            </setting>
        </ROC.Configuration.MDS>
        <ROC.Configuration.User>
            <setting name="StopTime" serializeAs="String">
                <value>23:55:00</value>
            </setting>
            <setting name="UseStopTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLogRetensionLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogRetensionDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UIUpdateRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NotificationDuration" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="InstanceName" serializeAs="String">
                <value>ROC DEV</value>
            </setting>
            <setting name="TPOSUpdateRate" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="LogFileSizeLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UseUIUpdateRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateBatchTicketStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesktopWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseMarketData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTPOS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseROMDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOnlySelectedExchange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayAllStatusSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConfirmOnCancellAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCSVFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="CSVThreadPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MDThreadPriority" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseStockAutoCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StockAutoCancelTime" serializeAs="String">
                <value>15:00:00</value>
            </setting>
            <setting name="OrderAutoFocusLast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OrderAvgPriceResolution" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowInternalStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelayUIProcess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FutureAutoCancelTime" serializeAs="String">
                <value>15:30:00</value>
            </setting>
            <setting name="UseFutureAutoCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionAutoCancelTime" serializeAs="String">
                <value>15:00:00</value>
            </setting>
            <setting name="SkipGTCandGTDonAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOptionAutoCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotLoadOPRAParticipant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFocusOnControls" serializeAs="String">
                <value>False</value>
            </setting>
        </ROC.Configuration.User>
        <ROC.Configuration.EMail>
            <setting name="MailFrom" serializeAs="String">
                <value>colin.langan@scgroup.com</value>
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value>colin.langan@scgroup.com</value>
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>ROC Event</value>
            </setting>
            <setting name="MailBody" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.scgroup.com</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value/>
            </setting>
        </ROC.Configuration.EMail>
        <ROC.Configuration.Path>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Logs</value>
            </setting>
            <setting name="OrderPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Orders</value>
            </setting>
            <setting name="TradePath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Trades</value>
            </setting>
            <setting name="ProfilePath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Profiles</value>
            </setting>
            <setting name="PositionPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Positions</value>
            </setting>
            <setting name="SymbolSettingPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Profiles\Symbols</value>
            </setting>
            <setting name="SettingPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Profiles\Settings</value>
            </setting>
            <setting name="CSVConfigPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\CSVConfig</value>
            </setting>
            <setting name="OptionConfigPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\OptionConfig</value>
            </setting>
            <setting name="QuickButtonConfigPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\Profiles\QuickButtonConfig</value>
            </setting>
            <setting name="FutureConfigPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\FutureConfig</value>
            </setting>
            <setting name="SubscriptionCachePath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\SubscriptionCache</value>
            </setting>
            <setting name="OrderTypeConfigPath" serializeAs="String">
                <value>C:\Users\clangan\Applications\ROC\OrderTypeConfig</value>
            </setting>
        </ROC.Configuration.Path>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
